extends layout

block content
  h1 #{video.title}
  p Uploaded by: #{video.uploader}
  if video.url
    iframe(src=video.url, frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  else
    p Video URL not provided.

  if video.description
    p #{video.description}

  if comments && comments.length
    h2 Comments
    each comment in comments
      p #{comment.text} - by #{comment.user.username}
  else
    p No comments yet.

  form(method='POST', action=`/video/${video._id}/comment`)
    textarea(name='comment', required=true)
    input(type='submit', value='Add Comment')
